<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Blinker:wght@800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./static/style-about.css" />
    <title>About us</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="home.html">
          <img src="./static/logo.png" alt="MiQR Logo" class="logo" />
        </a>

        <div class="navbtns">
          <a href="home.html" class="navlink">Home</a>
          <a href="about.html" class="navlink">About</a>
          <a href="contact.html" class="navlink">Contact</a>
          <a href="faq.html" class="navlink">FAQ</a>
          <a href="" aria-disabled="true" class="navlink">Login</a>
          <a href="">
            <button class="btn reg">Register</button>
          </a>
        </div>

        <img
          class="m"
          onclick="menu()"
          src="./static/align-justify.png"
          alt=""
        />

        <script>
          function menu() {
            document.getElementById("mbx").style.display = "block";
          }
        </script>
      </nav>
    </header>
    <div id="mbx">
      <img onclick="xmenu()" id="x" src="./static/x.png" alt="" />
      <div class="mnubtns">
        <a href="home.html" class="navlink y">Home</a>
        <a href="about.html" class="navlink y">About</a>
        <a href="contact.html" class="navlink y">Contact</a>
        <a href="faq.html" class="navlink y">FAQ</a>
        <a href="" aria-disabled="true" class="navlink y">Login</a>
        <button class="btn reg">Register</button>
      </div>
      <script>
        function xmenu() {
          document.getElementById("mbx").style.display = "none";
        }
      </script>
    </div>

    <main>
      <div class="title">
        <h1>About us</h1>
        <h2 class="w">
          We are helping Businesses engage <br />
          with customers easier
        </h2>
        <h1>Our story</h1>
        <p class="pxt">
          We know how boring QR code sounds and that is why we have made it fun
          and so easy to use with our exciting features and functionalities
          unique QR code generator, you can create a QR code that links to your
          social account, Request Crypto payment and many more. we made sure all
          QR codes are safe and secure nad easy to generate. Also you can manage
          Users, choose preferences and also recover your pasword from the our
          settings page.
        </p>
      </div>

      <div class="bodx">
        <h2 class="htxt">Meet the team</h2>
        <div class="team">
          <div class="mem">
            <img src="./static/frames/image 6.png" alt="" class="pic" />
            <h5 class="name">Chidera Nwogwu</h5>
            <p class="jd">UI Designer</p>
          </div>
          <div class="mem">
            <img src="./static/frames/image 13.png" alt="" class="pic" />
            <h5 class="name">Francis Woods</h5>
            <p class="jd">Back-end engineer</p>
          </div>
          <div class="mem">
            <img src="./static/frames/image 23.png" alt="" class="pic" />
            <h5 class="name">Ridwan Amoo</h5>
            <p class="jd">Front-end Developer</p>
          </div>
          <div class="mem">
            <img src="./static/frames/image 10.png" alt="" class="pic" />
            <h5 class="name">Felicia Omiwole</h5>
            <p class="jd">UX Writer</p>
          </div>
          <div class="mem">
            <img src="./static/frames/image 18.png" alt="" class="pic" />
            <h5 class="name">Oreweme Precious</h5>
            <p class="jd">UX Writer</p>
          </div>
          <div class="mem">
            <img src="./static/frames/image 12.png" alt="" class="pic" />
            <h5 class="name">Folarinde Olusola</h5>
            <p class="jd">Front-end Developer</p>
          </div>
          <div class="mem">
            <img src="./static/frames/image 15.png" alt="" class="pic" />
            <h5 class="name">Nwankwo Jeffery</h5>
            <p class="jd">UI Designer</p>
          </div>
          <div class="mem">
            <img src="./static/frames/image 11.png" alt="" class="pic" />
            <h5 class="name">Hafiza Yusuf</h5>
            <p class="jd">UX Researcher</p>
          </div>
          <div class="mem">
            <img src="./static/frames/image 1.png" alt="" class="pic" />
            <h5 class="name">Adewumi Olabanji</h5>
            <p class="jd">UX Writer</p>
          </div>
          <div class="mem">
            <img src="./static/frames/image 22.png" alt="" class="pic" />
            <h5 class="name">Osunlana Emmanuel</h5>
            <p class="jd">UI Designer</p>
          </div>
          <div class="mem">
            <img src="./static/frames/image 5.png" alt="" class="pic" />
            <h5 class="name">Awotoye Ayomide</h5>
            <p class="jd">UI Designer</p>
          </div>
          <div class="mem">
            <img src="./static/frames/image 1.png" alt="" class="pic" />
            <h5 class="name">Ibukun Atolagbe</h5>
            <p class="jd">Front-end Developer</p>
          </div>
          <div class="mem">
            <img src="./static/frames/image 2.png" alt="" class="pic" />
            <h5 class="name">Abigail Moejoh</h5>
            <p class="jd">UI Designer</p>
          </div>
          <div class="mem">
            <img src="./static/frames/image 16.png" alt="" class="pic" />
            <h5 class="name">Moses Josephine</h5>
            <p class="jd">UI Designer</p>
          </div>
          <div class="mem">
            <img src="./static/frames/image 4.png" alt="" class="pic" />
            <h5 class="name">Akinloye Emmanuel</h5>
            <p class="jd">Front-end Developer</p>
          </div>
          <div class="mem">
            <img src="./static/frames/image 3.png" alt="" class="pic" />
            <h5 class="name">Kolade Oludare</h5>
            <p class="jd">UX Designer</p>
          </div>
          <div class="mem">
            <img src="./static/frames/image 20.png" alt="" class="pic" />
            <h5 class="name">Njoku Edith</h5>
            <p class="jd">UX Researcher</p>
          </div>
          <div class="mem">
            <img src="./static/frames/image 19.png" alt="" class="pic" />
            <h5 class="name">Dorcas Ukueje</h5>
            <p class="jd">UI Designer</p>
          </div>
          <div class="mem">
            <img src="./static/frames/image 7.png" alt="" class="pic" />
            <h5 class="name">Ganobi Dera</h5>
            <p class="jd">Front-end Developer</p>
          </div>
          <div class="mem">
            <img src="./static/frames/image 21.png" alt="" class="pic" />
            <h5 class="name">Olanrewaju Olaitan</h5>
            <p class="jd">UX Designer</p>
          </div>
          <div class="mem">
            <img src="./static/frames/image 17.png" alt="" class="pic" />
            <h5 class="name">Joseph John</h5>
            <p class="jd">Front-end Developer</p>
          </div>
          <div class="mem">
            <img src="./static/frames/image 8.png" alt="" class="pic" />
            <h5 class="name">Ojetunde Esther</h5>
            <p class="jd">UI Designer</p>
          </div>
          <div class="mem">
            <img src="./static/frames/image 9.png" alt="" class="pic" />
            <h5 class="name">Eboagwu Favour</h5>
            <p class="jd">Front-end Developer</p>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="btm">
        <div class="btmtxt">
          <img src="./static/logo.png" alt="MiQR Logo" class="logo" />
          <p>
            Generates different QR codes.Depending on your purpose, you can use
            our QR generator to create QR codes to open a website, Store image
            files, View PDF files, connect to a wifi and more
          </p>
        </div>
        <div class="btmlinks">
          <div class="links">
            <h3>Useful links</h3>
            <a href="about.html" class="navlink footlink">About us</a>
            <a href="tos.html" class="navlink footlink">Terms of Service</a>
            <a href="privacy.html" class="navlink footlink">Privacy Policy</a>
          </div>
          <div class="sup">
            <h3>Support</h3>
            <a href="contact.html" class="navlink footlink">Contact us</a>
            <a href="faq.html" class="navlink footlink">FAQ</a>
          </div>
        </div>
      </div>
      <p class="copyright">copyright @ 2022 MiQR</p>
    </footer>
  </body>
</html>
