<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Blinker:wght@800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./static/style-tos.css" />
    <title>MiQR</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="home.html">
          <img src="./static/logo.png" alt="MiQR Logo" class="logo" />
        </a>
        <div class="navbtns">
          <a href="home.html" class="navlink">Home</a>
          <a href="about.html" class="navlink">About</a>
          <a href="contact.html" class="navlink">Contact</a>
          <a href="faq.html" class="navlink">FAQ</a>
          <a href="" aria-disabled="true" class="navlink">Login</a>
          <a href="">
            <button class="btn reg">Register</button>
          </a>
        </div>
        <img
          class="m"
          onclick="menu()"
          src="./static/align-justify.png"
          alt=""
        />

        <script>
          function menu() {
            document.getElementById("mbx").style.display = "block";
          }
        </script>
      </nav>
    </header>
    <div id="mbx">
      <img onclick="xmenu()" id="x" src="./static/x.png" alt="" />
      <div class="mnubtns">
        <a href="home.html" class="navlink y">Home</a>
        <a href="about.html" class="navlink y">About</a>
        <a href="contact.html" class="navlink y">Contact</a>
        <a href="faq.html" class="navlink y">FAQ</a>
        <a href="" aria-disabled="true" class="navlink y">Login</a>
        <button class="btn reg">Register</button>
      </div>
      <script>
        function xmenu() {
          document.getElementById("mbx").style.display = "none";
        }
      </script>
    </div>

    <main>
      <div class="hero">
        <h1>Generate QR Codes With Ease</h1>
        <p>
          Create free and customizeable QR codes yourself without a single line
          of code
        </p>
        <button>Start now</button>
      </div>
      <div class="why">
        <h2>Why choose us</h2>
        <p>Create QR Codes with no Coding Required!</p>
        <div class="whyb">
          <div class="whybox">
            <img src="" alt="" />
            <h4>Easy customization</h4>
            <p>
              We allow you create customizeable QR codes yourself without
              writing a single line of code.
            </p>
          </div>
          <div class="whybox">
            <img src="" alt="" />
            <h4>One-time setup</h4>
            <p>
              Generate non-expiring QR codes with our free QR code generator.
            </p>
          </div>
          <div class="whybox">
            <img src="" alt="" />
            <h4>Printable Quality</h4>
            <p>
              Our app offers free downloadable vector file format for best print
              quality.
            </p>
          </div>
        </div>
        <button>Join Now</button>
      </div>
      <div class="how">
        <div class="howtxt">
          <h2></h2>
          <p></p>
          <button></button>
        </div>
        <div class="howimg">
          <div class="hibox">
            <h3></h3>
            <p></p>
          </div>
          <div class="hibox">
            <h3></h3>
            <p></p>
          </div>
          <div class="hibox">
            <h3></h3>
            <p></p>
          </div>
        </div>
      </div>
      <div class="basic">
        <div class="bbox">
          <h2></h2>
          <p></p>
        </div>
        <div class="bbox">
          <h2></h2>
          <p></p>
        </div>
        <div class="bbox">
          <h2></h2>
          <p></p>
        </div>
        <div class="bbox">
          <h2></h2>
          <p></p>
        </div>
      </div>
      <div class="news">
        <h2></h2>
        <input type="email" name="" id="" />
        <button></button>
        <p></p>
      </div>
    </main>

    <footer>
      <div class="btm">
        <div class="btmtxt">
          <img src="./static/logo.png" alt="MiQR Logo" class="logo" />
          <p>
            Generates different QR codes.Depending on your purpose, you can use
            our QR generator to create QR codes to open a website, Store image
            files, View PDF files, connect to a wifi and more
          </p>
        </div>
        <div class="btmlinks">
          <div class="links">
            <h3>Useful links</h3>
            <a href="about.html" class="navlink footlink">About us</a>
            <a href="tos.html" class="navlink footlink">Terms of Service</a>
            <a href="privacy.html" class="navlink footlink">Privacy Policy</a>
          </div>
          <div class="sup">
            <h3>Support</h3>
            <a href="contact.html" class="navlink footlink">Contact us</a>
            <a href="faq.html" class="navlink footlink">FAQ</a>
          </div>
        </div>
      </div>
      <p class="copyright">copyright @ 2022 MiQR</p>
    </footer>
  </body>
</html>
