<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Blinker:wght@800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./static/style-tos.css" />
    <title>Terms of Service</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="">
          <img src="./static/logo.png" alt="MiQR Logo" class="logo" />
        </a>
        <div class="navbtns">
          <a href="" class="navlink">Home</a>
          <a href="" class="navlink">About</a>
          <a href="" class="navlink">Contact</a>
          <a href="" class="navlink">FAQ</a>
          <a href="" class="navlink">Login</a>
          <a href="">
            <button class="btn reg">Register</button>
          </a>
        </div>
        <img
          class="m"
          onclick="menu()"
          src="./static/align-justify.png"
          alt=""
        />

        <script>
          function menu() {
            document.getElementById("mbx").style.display = "block";
          }
        </script>
      </nav>
    </header>
    <div id="mbx">
      <img onclick="xmenu()" id="x" src="./static/x.png" alt="" />
      <div class="mnubtns">
        <a href="" class="navlink y">Home</a>
        <a href="" class="navlink y">About</a>
        <a href="" class="navlink y">Contact</a>
        <a href="" class="navlink y">FAQ</a>
        <a href="" class="navlink y">Login</a>
        <button class="btn reg">Register</button>
      </div>
      <script>
        function xmenu() {
          document.getElementById("mbx").style.display = "none";
        }
      </script>
    </div>

    <main>
      <div class="title">
        <h1>Terms of Service</h1>
      </div>
      <div class="content">
        <p class="contenttxt">
          Thank you for using our services. These terms of service(Terms) cover
          you use and access of website, our Chrome Extension and related
          software(our Services). By using our Services you agree theses Terms
          and review our Privacy Policy. If you do not agree to these Terms or
          our Privacy Policy, you should not use our Services. Our services may
          include web-based or downloadable softare, which may update
          automatically on your device to newer versions. We grant you a
          worldide, non-exclusive and non-transferable to use the software
          solely to use the Services. Components of the softare may be offered
          under an open source license, in this case we will make that license
          available to you. Provisions of the open source license may expressly
          override some of these Terms. we may change the features of our
          Services, withdraw or add ne features from time to time.
        </p>
      </div>
    </main>

    <footer>
      <div class="btm">
        <div class="btmtxt">
          <img src="./static/logo.png" alt="MiQR Logo" class="logo" />
          <p>
            Generates different QR codes.Depending on your purpose, you can use
            our QR generator to create QR codes to open a website, Store image
            files, View PDF files, connect to a wifi and more
          </p>
        </div>
        <div class="btmlinks">
          <div class="links">
            <h3>Useful links</h3>
            <a href="" class="navlink footlink">About us</a>
            <a href="" class="navlink footlink">Terms of Service</a>
            <a href="" class="navlink footlink">Privacy Policy</a>
          </div>
          <div class="sup">
            <h3>Support</h3>
            <a href="" class="navlink footlink">Contact us</a>
            <a href="" class="navlink footlink">FAQ</a>
          </div>
        </div>
      </div>
      <p class="copyright">copyright @ 2022 MiQR</p>
    </footer>
  </body>
</html>
